.banner {
  height: auto;
  object-fit: cover;

  .bannerImg {
    width: 100%;
    transition: opacity 1s ease-in-out;
    animation-name: fade;
    animation-duration: 1s;
    border-bottom: 5px solid #196ea4;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    transition: background-color 0.6s ease;
    cursor: pointer;
  }

  .dot.active {
    background-color: rgb(14, 164, 206);
  }
}